# Torch CPU wheels (for Windows/Linux/macOS CPU) are here
--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.39.0
transformers==4.44.2
torch==2.5.1+cpu
tokenizers==0.19.1
sentencepiece

